# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

build/

# Django
db.sqlite3
.env
.env.*

# VS Code & IDEs
.vscode/
*.code-workspace
.idea/

# Logs
*.log

# Byte-compiled and cache
*.py[cod]
*.so

# Static files (if collected separately)
staticfiles/
media/

# Migrations (keep init and migration files!)
# ⚠️ DO NOT ignore .py migration files!
# You may optionally ignore .pyc files
**/migrations/__pycache__/
